:root{
    --color-main-backg: #1C4236;
    --color-main-footer: #122E25;
    --color-main-contrast: #FFFCE2;
    --color-logo-title: #FC871A;
    --color-enter-link: #99d4ad;
}

body{
    margin: 0px;
    background-color: var(--color-main-backg);
    color: var(--color-main-contrast);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: larger;
}

input{
    border: 0px;
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.leftjust{
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

#iscpf{
    width: 25px;
    height: 25px;
}

.input{
    width: 100%;
    height: 50px;
}

.entrar{
    color: var(--color-enter-link);
    padding: 5px 10px;
    text-decoration: none;
}