:root{
    --color-main-backg: #1C4236;
    --color-main-contrast: #FFFCE2;
    --color-logo-title: #FC871A;
}

body{
    background-color: var(--color-main-backg);
    color: var(--color-main-contrast);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.gap{
    gap: 5px;
}

#search-bar{
    background-color: var(--color-main-contrast);
    padding: 5px 10px;
    border-radius: 5px;
}

#search-bar a{
    color: var(--color-main-backg);
    text-decoration: none;
}

.cadastro{
    background-color: var(--color-main-contrast);
    text-decoration: none;
    color: var(--color-main-backg);
    padding: 5px 10px;
    border-radius: 5px;
}

.entrar{
    color: var(--color-main-contrast);
    padding: 5px 10px;
    text-decoration: none;
}

.big{
    font-size: large;
}