:root{
    --color-main-backg: #1C4236;
    --color-main-footer: #122E25;
    --color-main-contrast: #FFFCE2;
    --color-main-chip: #ECE282;
    --color-logo-title: #FC871A;
    --color-enter-link: #99d4ad;
}

body{
    margin: 0px;
    background-color: var(--color-main-backg);
    color: var(--color-main-contrast);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: larger;
}

header{
    padding: 10px;
}

main{
    padding: 10px;
}

footer{
    padding: 20px 20px 10px 20px;
    background-color: var(--color-main-footer);
    color: var(--color-enter-link);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
}

.cadastro{
    background-color: var(--color-main-contrast);
    text-decoration: none;
    color: var(--color-main-backg);
    padding: 10px 15px;
    border-radius: 25px;
}

.entrar{
    color: var(--color-enter-link);
    padding: 10px 15px;
    text-decoration: none;
}

.flex{
    display: flex;
}

.logo{
    height: 100px;
}

.centralized{
    align-content: center;
}

.justcentralized{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.input{
    border: 0px;
    color: var(--color-main-backg);
    background-color: var(--color-main-contrast);
    outline: none;
}

.searchfield{
    background-color: var(--color-main-contrast);
    border-radius: 25px;
    padding: 10px;
}

.bigsize{
    flex-shrink: 0;
    flex-basis: 50%;
    height: 50%;
}

.bigbar{
    width: 100%;
}

.down{
    flex-direction: column;
}

.nodeco{
    text-decoration: none;
    color: var(--color-enter-link);
}

.mediumgap{
    gap: 30px;
}

.pad{
    padding: 7px 5px 0px 0px;
}

.grid{
    display: grid;
}

.bottom{
    align-self: flex-end;
    justify-self: flex-end;
}

.big{
    font-size: large;
}

#search-btn:hover{
    cursor: pointer;
}

#search-btn{
    user-select: none;
}

#selector{
    padding: 10px;
}