:root{
    --color-main-backg: #1C4236;
    --color-main-footer: #122E25;
    --color-main-contrast: #FFFCE2;
    --color-logo-title: #FC871A;
    --color-enter-link: #99d4ad;
}

body{
    margin: 0px;
    background-color: var(--color-main-backg);
    color: var(--color-main-contrast);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: larger;
}

footer{
    padding: 20px 20px 10px 20px;
    background-color: var(--color-main-footer);
    color: var(--color-enter-link);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
}

.nodeco{
    text-decoration: none;
    color: var(--color-enter-link)
}

.gap{
    gap: 5px;
}

.nav{
    align-items: center;
    padding: 10px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.cadastro{
    background-color: var(--color-main-contrast);
    text-decoration: none;
    color: var(--color-main-backg);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: large;
}

.entrar{
    color: var(--color-enter-link);
    padding: 10px 15px;
    text-decoration: none;
    font-size: large;
}

.searcher{
    height: 30px;
    width: 500px;
    border: 1px black solid;
    border-radius: 15px;
}

.between{
    justify-content: space-between;
}

.contrast{
    background-color: var(--color-main-contrast);
    color: var(--color-main-backg);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.down{
    flex-direction: column;
}

.mediumgap{
    gap: 30px;
}

.bottom{
    align-self: flex-end;
    justify-self: flex-end;
}

.grid{
    display: grid;
}

.pad{
    padding: 7px 5px 0px 0px;
}

.special{
    padding: 10px;
    border-radius: 25px;
    background-color: var(--color-main-backg);
}

#info h3, #info small, #info span{
    padding: 0px;
    margin: 0px;
}

#price{
    font-size: smaller;
}